<div class="jumbotron center">
  <h1>Everyday for 30 Days...</h1>
  
	  	<span class="home-bullets">100 Pushups</span>
	  	<span class="home-bullets">-100 Situps</span>
	  	<span class="home-bullets">-100 Squats</span>
	 
  
  
	  <p>
	    <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
	    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
	  </p>
  

</div>