// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pins {
	margin: 0 auto;
}

.box {
	margin: 5px;
	width: 214px;
}

.box img {
	width: 100%;
}

.home-bullets {
	    list-style: none;
    font-weight: 700;
    color: #c0392b;
    font-size: 2.0em;
}

.dateYo {
	    margin: 0 0 0 55px;
}